<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ithima.dao.CustomerDao">

    <insert id="insertCustomer" parameterType="com.ithima.po.Customer">
        insert into t_customer(username,jobs,phone)values(#{username},#{jobs},#{phone})
    </insert>

    <delete id="deleteCustomer" parameterType="java.lang.Integer">
        delete from t_customer where id=#{id}
    </delete>

    <update id="updateCustomer" parameterType="com.ithima.po.Customer">
        update t_customer set username=#{username},jobs=#{jobs},phone=#{phone} where id=#{id}
    </update>


    <select id="findCustomerById" parameterType="Integer"
            resultType="com.ithima.po.Customer">
        select *from t_customer where id=#{id}
    </select>

    <select id="findAllCustomer" resultMap="customerResultMap">
        select *from t_customer
    </select>

    <resultMap id="customerResultMap" type="com.ithima.po.Customer">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="jobs" column="jobs"/>
        <result property="phone" column="phone" />
    </resultMap>

</mapper>